body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 30px;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, black),
    url("../src/assets/images/bkg.jpg");
  /* Photo by https://unsplash.com/@aditya1702 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Forum", cursive;
  /* color: white; */
}

.container {
  margin-top: 10px;
  margin-bottom: 50px;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: black; */
}
